.title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #203A43;
}


.container {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 1260px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #c0e0de;
}

.content-game {
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #c0e0de;
    border-radius: 5px;
    position: absolute;
}

.table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    border-spacing: 0;
}

.table td, .table th {
    padding: 1em;
    text-align: center;
}

.table tr:nth-child(odd) {
    background-color: #A0C9E0;
}

.fa-star {
    color: rgb(255, 224, 50);
}

.stars-container {
    display: inline-block; /* Mostrar en línea */
    width: 125px; /* Ancho fijo para el contenedor */
    white-space: nowrap; /* Evitar el salto de línea */
}

.star {
    display: inline-block;
    font-size: 16px;
}

.title-item {
    border-bottom: solid 2px #203A43;
    padding-bottom: 20px;
}

.position {
    background-color: #203A43;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: auto;
    width: 75%;
}

.home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #203A43;
    margin: 0px 4px 4px 0px;
    color: white;
    border-radius: 20px;
    padding: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-image {
   width: 25%;
   margin: auto;
}

.game-image {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}
